nav{                                                                 /* . ekelemey gerek yok kendisi algılıyor, ama projedeki bütün nav larda geçerli ezmek gerebilir */
    background-color: darkseagreen;
    padding: 15px 30px;
}
nav a{
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
}
nav a.active {
    font-weight:bolder;
    font-size: 20px;
}
.HistoryNav{
    font-weight: lighter;
    background-color: azure;
}